<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Every.Do 2nd Cohort.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>ACD201EF1BCD61B400CB4562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD2020B1BCD61B400CB4562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>ACD202161BCD61B400CB4562</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
